@model ClassLibrary.Models.OrganizationEntity

<h1>Детали организации</h1>

<div>
    <h4>@Model.Name</h4>
    <p>Город: @Model.City</p>
    <p>Описание: @Model.Description</p>
</div>

<h2>Волонтеры</h2>
@if (ViewBag.Volunteers != null && (ViewBag.Volunteers).Count > 0)
{
    <ul>
        @foreach (var volunteer in ViewBag.Volunteers)
        {
            <li>@volunteer.FirstName && @volunteer.LastName</li>
        }
    </ul>
}
else
{
    <p>Нет активных волонтеров.</p>
}

<h2>Активные Заявки</h2>
@if (ViewBag.Requests != null && (ViewBag.Requests).Count > 0)
{
    <ul>
        @foreach (var request in ViewBag.Requests)
        {
            <li>@request.Name</li>
        }
    </ul>
}
else
{
    <p>Нет активных заявок.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Редактировать</a>
    <a asp-action="Index" class="btn btn-primary">Назад к списку</a>
</div>